@import "../global/mixins";

.form {
  background-color: var(--theme-white);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  width: 78%;
  max-width: 45rem;
  border-radius: 2px;
  min-height: 23rem;
  height: 40vh;
  margin: 0 auto;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  &_wide {
    @extend .form;
    width: 90%;
    height: 70vh;
    min-height: 30rem;
    padding-top: 1rem;
  }

  &_option {
    &:disabled {
      display: none;
    }
  }

  &_select {
    border: none;
    background-color: var(--theme-white);
    color: var(--theme-black);
    box-shadow: 2px 2px 7px var(--theme-shadow-dark);
  }

  &_input {
    border: none;
    border-bottom: solid 2px var(--theme-primary);
    line-height: 1.5;
    outline: none;
    background-color: var(--theme-white);
    padding: 0.3rem;
    color: var(--theme-black);

    &_tip {
      display: block;
      &_narrow {
        width: 45%;
        & > .form_input {
          width: 100%;
        }

        &::after {
          content: attr(data-tip);
          // background-color: #ff0000;
          box-shadow: 2px 2px 9px rgba(238, 44, 44, 0.562);
          display: block;
          position: absolute;
          background-color: var(--color-white);
          text-align: center;
          font-size: 1.2rem;
          font-weight: 600;
          color: #ff4b4b;
          border-radius: 3px;
          width: auto;
          padding: 0.3rem 0.3rem;
        }
      }

      & > .form_input {
        width: 100%;
      }

      &::after {
        content: attr(data-tip);
        // background-color: #ff0000;
        box-shadow: 2px 2px 9px rgba(238, 44, 44, 0.562);
        display: block;
        position: absolute;
        background-color: var(--color-white);
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        color: #ff4b4b;
        border-radius: 3px;
        width: auto;
        padding: 0.3rem 0.3rem;
      }
    }

    &:focus {
      box-shadow: 2px 2px 7px var(--theme-shadow-dark);
    }
    &::placeholder {
      color: var(--theme-grey);
    }

    &_checkbox {
      cursor: pointer;
      @extend .form_input;
      margin: 1rem;
      &_label {
        color: var(--theme-black);
        cursor: pointer;
      }
    }

    &_narrow {
      @extend .form_input;
      width: 45%;
    }

    &_wrapper {
      display: flex;
      justify-content: space-between;
      &_col {
        @extend .form_input_wrapper;
        flex-direction: column;
      }
    }
  }
}
