[data-theme="dark"] {
  --theme-secondary: #473c5a;
  --theme-primary: #fff;
  --theme-white: #382f47;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: var(--color-black);
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
button:disabled {
  cursor: default;
}
