@import "../global/mixins";
:root {
  //colors
  --color-primary: #382f47;
  --theme-primary: #382f47;
  --transparent-primary: rgba(56, 47, 71, 0.9);
  --color-primary-light: #473c5a;
  --theme-primary-light: #473c5a;
  --transparent-primary-light: rgba(71, 60, 90, 0.9);
  --color-secondary: #beedff;
  --theme-secondary: #beedff;
  --transparent-secondary: rgba(190, 237, 255, 0.9);
  --color-secondary-darker: #579db7;
  --color-secondary-dark: #85c7e1;
  --color-tertiary: #8abd7b;
  --theme-tertiary: #8abd7b;
  --color-heart: #ff1717;
  --color-black: #000;
  --theme-black: #000;
  --color-white: #fff;
  --theme-white: #fff;
  --theme-off-white: #f3f3f3;
  --theme-bg-white: #fff;
  --color-grey: #ccc;
  --theme-grey: #999;

  //shadows
  --theme-shadow-primary: rgba(126, 94, 211, 0.644);
  --theme-shadow-dark: rgba(0, 0, 0, 0.2);
  --theme-shadow-secondary: rgba(112, 234, 255, 0.644);

  //font-sizes
  --font-xxl: 3.5rem;
  --font-xl: 2.5rem;
  --font-l: 2rem;
  --font-m: 1.5rem;
  --font-s: 1rem;
  --font-xs: 0.75rem;

  //hamburger
  --hamburger-thickness: 0.27rem;
  @include respond(laptop) {
    --hamburger-thickness: 0.35rem;
  }

  //border-radius
  --border-r: 2px;
}
