.index {
  background: var(--theme-bg-white);

  &__featured {
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-size: var(--font-l);
      font-weight: 1000;
      color: var(--theme-primary);
      text-transform: uppercase;
      margin: 3.3rem auto 2.4rem auto;
    }
  }
}
