.heading {
  &_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
  &_text {
    font-size: var(--font-l);
    font-weight: 1000;
    text-transform: uppercase;
    position: relative;
    z-index: 5;
    text-align: center;
    padding: 1.3rem 5.5rem;
    border-radius: 3px;
    color: var(--theme-primary);
    &_l {
      @extend .heading_text;
      font-size: var(--font-l);
    }
    &_m {
      @extend .heading_text;
      font-size: var(--font-m);
    }
    &_s {
      @extend .heading_text;
      font-size: var(--font-s);
    }
    &_normal {
      @extend .heading_text;
      margin: 3.3rem auto 2.4rem auto;
    }
    &_inverted {
      @extend .heading_text;
      color: var(--color-white);
      background-color: var(--color-primary);
    }
  }
}
.text {
  &_m {
    font-size: var(--font-m);
    color: var(--theme-primary);
    &_grey {
      @extend .text_m;
      color: var(--color-grey);
    }
  }
  &_l {
    font-size: var(--font-l);
    color: var(--theme-primary);
    &_grey {
      @extend .text_l;
      color: var(--color-grey);
    }
  }
}
