@import "../../global/mixins";
.hamburger {
  display: flex;
  justify-content: center;
  z-index: 100;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border-radius: 50%;
  margin-top: -0.45rem;

  @include respond(phone) {
    margin: 0;
  }
  @include respond(laptop) {
    width: 5.4rem;
    height: 5.4rem;
  }

  &__wrapper {
    height: 100%;
    width: 100%;
    align-self: center;
    position: relative;
    cursor: pointer;

    &:hover > div::after {
      transition: transform 300ms ease-in-out;
      transform-origin: center;
      transform: translateY(-2rem) rotateY(180deg);
      @include respond(laptop) {
        transform: translateY(-3rem) rotateY(180deg);
      }
    }
    &:hover > div::before {
      transition: transform 300ms ease-in-out;
      transform-origin: center;
      transform: translateY(2rem) rotateY(180deg);
      @include respond(laptop) {
        transform: translateY(3rem) rotateY(180deg);
      }
    }
  }

  &__midLine {
    width: 3rem;
    height: var(--hamburger-thickness);
    background-color: var(--color-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: background-color 300ms ease-in-out;
    transform: translate(-50%, -50%);

    @include respond(laptop) {
      width: 4rem;
    }

    &::after {
      content: "";
      width: 100%;
      display: block;
      height: var(--hamburger-thickness);
      background-color: var(--color-white);
      position: absolute;
      top: 1rem;
      // transform-origin: 0% 0%;
      transition: transform 300ms ease-in-out;
      @include respond(laptop) {
        top: 1.5rem;
      }
    }
    &::before {
      content: "";
      width: 100%;
      display: block;
      height: var(--hamburger-thickness);
      background-color: var(--color-white);
      position: relative;
      bottom: 1rem;
      // transform-origin: 0% 0%;
      transition: transform 300ms ease-in-out;
      @include respond(laptop) {
        bottom: 1.5rem;
      }
    }
    &--close {
      background-color: transparent;

      &::after {
        transform: rotate(-45deg) scale(1.2) translate(-2px, 4px);
      }
      &::before {
        transform: rotate(45deg) scale(1.2) translate(0px, -5px);
      }
    }
  }
}
