.ring__loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.ring__loader:after {
  content: " ";
  display: block;
  width: 51px;
  height: 51px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--theme-primary);
  border-color: var(--theme-primary) transparent var(--theme-primary) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/***********************************Completed Loader****************************************/
$circle-length: 151px;
$check-length: 36px;

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: $circle-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: $check-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.successAnimationCircle {
  stroke-dasharray: $circle-length $circle-length;
  stroke: var(--color-tertiary);
  fill: var(--color-white);
}

.successAnimationCheck {
  stroke-dasharray: $check-length $check-length;
  stroke: var(--color-tertiary);
}

.successAnimationResult {
  fill: var(--color-tertiary);
  opacity: 0;
}

.successAnimation_animated {
  animation: scaleAnimation 1s ease-out 0s 1 both;

  .successAnimationCircle {
    animation: drawCircle 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both, fadeOut 0.3s linear 0.9s 1 both;
  }

  .successAnimationCheck {
    animation: drawCheck 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both, fadeOut 0.3s linear 0.9s 1 both;
  }

  .successAnimationResult {
    animation: fadeIn 0.3s linear 0.9s both;
  }
}
