.setup {
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;

  &_noflex {
    @extend .setup;
    display: block;
  }
}
